.navbar {
  background-color: #232121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #f5c518;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #f5c518;
}
